doctype html
html
  head
    title CHOCO
    meta(charset='utf-8')
    link(rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.min.css')
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
  body
    .navbar.navbar-light.bg-faded
      a.navbar-brand(href='./') CHOCO
    .container(style='margin-top: 20px')
      h1(style='text-align: center') Welcome
      p 
        | #{user} thank you for registering now participate to receive 
        | free courses and materials
